################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab_1/.vs/Lab_1
/Lab_2/.vs/Lab_2
/Lab_2/Lab_2_1/.vs/Lab_2
/Lab_2/Lab_2_2/.vs/Lab_2_2/v17
/Lab_2/Lab_2_2/.vs/Lab_2_2/FileContentIndex
/Lab_2/Lab_2_3/.vs/Lab_2_3
/Lab_2/Lab_2_4/.vs/Lab_2_4
/Lab_3/Lab_3_1/.vs/Lab_3_1
/Lab_3/Lab_3_2/.vs/Lab_3_2/v17
/Lab_2
/Lab_3/Lab_3_2/.vs/Lab_3_2/FileContentIndex
/Lab_3/Lab_3_2/Lab_3_2/x64/Debug
/Lab_3/Lab_3_2/x64/Debug
