################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab_1/.vs/Lab_1
/Lab_2/.vs/Lab_2
/Lab_2/Lab_2_1/.vs/Lab_2
/Lab_2/Lab_2_2/.vs/Lab_2_2/v17
/Lab_2/Lab_2_2/.vs/Lab_2_2/FileContentIndex
/Lab_2/Lab_2_3/.vs/Lab_2_3
/Lab_2/Lab_2_4/.vs/Lab_2_4
/Lab_3/Lab_3_1/.vs/Lab_3_1
/Lab_3/Lab_3_2/.vs/Lab_3_2/v17
/Lab_2
/Lab_3/Lab_3_2/.vs/Lab_3_2/FileContentIndex
/Lab_3/Lab_3_2/Lab_3_2/x64/Debug
/Lab_3/Lab_3_2/x64/Debug
/Lab_3/Lab_3_3/.vs/Lab_3_3/v17
/Lab_3/Lab_3_3/Lab_3_3/x64/Debug
/Lab_3/Lab_3_3/x64/Debug
*.sln
*.vcxproj
*.filters
*.user
/Lab_3/Lab_3_4/.vs/Lab_3_4/v17
/Lab_3/Lab_3_4/Lab_3_4/x64/Debug
/Lab_3/Lab_3_4/x64/Debug
/Lab_3/Lab_3_5/.vs/Lab_3_5/v17
/Lab_3/Lab_3_5/Lab_3_5/x64/Debug
/Lab_3/Lab_3_5/x64/Debug
/Lab_3/Lab_3_3/.vs/Lab_3_3/FileContentIndex
/Lab_3/Lab_3_4/.vs/Lab_3_4/FileContentIndex
/Lab_3/Lab_3_5/.vs/Lab_3_5/FileContentIndex
/Lab_4/Lab_4_1/.vs/Lab_4_1/v17
/Lab_4/Lab_4_1/Lab_4_1/x64/Debug
/Lab_4/Lab_4_1/x64/Debug
/Lab_4/Lab_4_2/.vs/Lab_4_2
/Lab_4/Lab_4_2/Lab_4_2/x64/Debug
/Lab_4/Lab_4_2/x64/Debug
/Lab_5/Lab_5_1/.vs/Lab_5_1/v17
/Lab_5/Lab_5_1/Lab_5_1/x64/Debug
/Lab_5/Lab_5_1/x64/Debug
/Lab_5/Lab_5_2/.vs
/Lab_5/Lab_5_2/Lab_5_2/x64/Debug
/Lab_5/Lab_5_2/x64/Debug
/Lab_5/Lab_5_3/.vs/Lab_5_3/v17
/Lab_5/Lab_5_3/Lab_5_3/x64/Debug
/Lab_5/Lab_5_3/x64/Debug
/Lab_4/Lab_4_1/.vs/Lab_4_1/FileContentIndex
/Lab_5/Lab_5_1/.vs/Lab_5_1/FileContentIndex
/Lab_5/Lab_5_3/.vs/Lab_5_3/FileContentIndex
/Lab_5/Lab_5_4/.vs/Lab_5_4
/Lab_5/Lab_5_4/x64/Debug
/Lab_5/Lab_5_4/Lab_5_4/x64/Debug/Lab_5_4.tlog
/Lab_5/Lab_5_4/Lab_5_4/x64/Debug
/Lab_6/Lab_6_1/.vs/Lab_6_1/v17
/Lab_6/Lab_6_1/Lab_6_1/x64/Debug
/Lab_6/Lab_6_1/x64/Debug
/Lab_6/Lab_6_2/.vs/Lab_6_2/v17
/Lab_6/Lab_6_2/Lab_6_2/x64/Debug
/Lab_6/Lab_6_2/x64/Debug
/Lab_7/Lab_7_1/.vs/Lab_7_1
/Lab_7/Lab_7_1/Lab_7_1/x64/Debug
/Lab_7/Lab_7_1/x64/Debug
/Lab_7/Lab_7_2/.vs/Lab_7_2/v17
/Lab_7/Lab_7_2/Lab_7_2/x64/Debug
/Lab_7/Lab_7_2/x64/Debug
/Lab_7/Lab_7_3/.vs/Lab_7_3/v17
/Lab_7/Lab_7_3/Lab_7_3/x64/Debug
/Lab_7/Lab_7_3/x64/Debug
